@{
    ViewData["Title"] = "Home Page";
}
<div class="Food">
    <div class="text-center home-pic">
        <img src="~/images/Food2.jpg" alt="Kyckling med sallad, pinjenötter och keso" />

        <h1 class="display-4">Välkommen till Receptsamlingstjänsten!</h1>

        <p class="display-6">
            Här kommer du kunna skapa recept och ingredienser, se dina sparade recept och ingredienser
            samt kunna redigera eller ta bort de du skapat. För att fixa med recept eller ingredienser 
            kan du trycka på respektive rubrik i toppen på sidan.
        </p>

    </div>
</div>